//utils styles
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/breakpoints';

//base styles
@import './base/base';
@import './base/reset';

//components styles
@import './components/container';
@import './components/nav-footer-logo';
@import './components/site-nav';
@import './components/contacts';
@import './components/hero';
@import './components/modal';
@import './components/modal-window';
@import './components/credo';
@import './components/work';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/filter-portfolio';
@import './components/portfolio';
@import './components/project-thumb';