
.clients{
  padding-top: 60px;
  padding-bottom: 60px;
  

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title{
    color: var(--primary-text-color); 
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    grid-gap: 30px;
    
    @media screen and (min-width:768px){
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px){
      display: flex;
      flex-wrap: no wrap;
    }
  }
  
  
  
  .clients__item {
    height: 92px;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:focus,
    &:hover {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }
 
  }
  
  .clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
    &:hover,
    &:focus {
     fill: var(--accent-color);
     border-color: var(--accent-color);
   }

    
   @media screen and (min-width: 480px) {
    width: 210px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
  }
  
  
  
  