

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--primary-background-color);

    /*@media screen and (min-width:480px){
      width: 480px;
    }
    @media screen and (min-width:768px){
      width: 768px;
    }
    @media screen and (min-width: 1200px){
      width: 1200px;
    }*/
  }
  

  .header__container,
.footer > .container {
 padding-top: 0;
 padding-bottom: 0;
 display: flex;
 align-items: center;
}