


.header__contact.list {
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    align-content: center;

  }
}
    

    .header__contact__item {
      margin-left: 50px;
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 0px;
      }
     
    }

    .header__contacts__link{
      margin-left: 50px;

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 0px;
       
        padding-top: 32px;
        padding-bottom: 32px;
        gap:10px 
      }
    }
    .header__contacts__item:not(:last-child) {
      margin-right: 30px;
    }
  
  .header__contacts__link{
   
    padding: 32px 0px 32px;
    text-decoration: none;
    align-items: center;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus 
    {
      color: var(--accent-color) ;
      
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 0;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .header__contact__item:not(:last-child) {
      margin-bottom: 10px;
    }
    
  }
  
  .header__contacts__icon{
    fill: currentColor;
  }
  
 