.footer {
  text-align: center;
  padding: 60px 0px;

  background-color:var(--secondary-background-color);
}

.footer__flex {
  display: block;
  margin: 0;
  padding: 0px;
  list-style: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 165px;
  }
  @media (min-width: 1200px) {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 70px;
  }
}


.footer__contacts{
  margin-top: 20px;
}
.footer__contacts__address {
  color: var(--contacts-text-color);
  font-size: 14px;
  line-height: calc(24/14);
  text-decoration: none;
  font-style: normal;
}



.footer__contacts__link {
   margin-top: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: calc(24/14);
  list-style: none;
  text-decoration: none;
  color: var(--secondary-contacts-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.social__section {
  display: block;

  margin-top: 60px;
  text-align: center;

  @media (min-width: 768px) {
    margin-top: 0px;
  }
}

.social__section__text {
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;

  color: var(--contacts-text-color);

  @media (min-width: 768px) {
    padding-bottom: 10px;
  }
  @media (min-width: 1200px) {
    text-align: left;
  }
}

.footer__list {
  display: flex;
  justify-content: space-between;
  justify-content: center;

  padding: 0;
  margin-top: 0;
  list-style: none;
}

.footer__list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  color: var(--secondary-contacts-color);
}

.footer__list__link {

  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--contacts-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
    background-color: var(--accent-color);
  }
  
  }

.footer__list__icon{

  margin: 12px 0px 0px 12px;
  fill: currentColor;
} 


.footer__submit {
  margin-top: 60px;
  @media (min-width: 768px) {
    margin-top: 0px;
    padding: 0;
  }

  @media (min-width: 1200px) {
    margin-left: 23px;
  }
}

.footer__submit__title {
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;

  color: var(--contacts-text-color);
}

.footer__submit__input {
 margin-bottom: 20px;

  width: 100%;
  margin: 0;
  padding: 13px 16px;
  border-radius: 4px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--secondary-background-color);
  color: var(--contacts-text-color);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
  }

  @media (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__submit__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid transparent;
  margin-top: 20px;
  padding: 8px 29px;
  border-radius: 4px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--contacts-text-color);

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30/16);
  letter-spacing: 0.06em;

  cursor: pointer;
  min-height: 43px;

  &:hover, 
  &:focus {
  color:var(--contacts-text-color) ;
  background-color: #188CE8;
  
}
  &:active{
  color: #188CE8;
  
}

  @media (min-width: 1200px) {
    margin-top: 0px;
  }

}
.icon-send {
  margin-left: 10px;
  fill: var(--contacts-text-color);
}