.footer-flex {
    display: flex;
    align-items: baseline;
     
  }
  
  .footer-offer {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--contacts-text-color);
  }

  .offer{
    margin-left: 70px;
  }

  .footer-soclink {
    display: flex;
  }
  .footer-soclink .footer-items:not(:last-child) {
    margin-right: 10px;
  }
  
  .footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--contacts-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
     background-color: var(--accent-color);
    }
  }
 
  