.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  @media (max-width: 767px) {
    .menu {
      display: none;
    }
  }
  
  .menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }
  
  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }
  .menu__container {
    position: fixed;
    top: 0;
    left: 0;
  
    display: flex;
    flex-direction: column;
  
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: var(--contacts-text-color);
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  .menu__container.is-open {
    transform: translateX(0);
  }
  
  .menu__container .menu__toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--contacts-text-color);
  }
  .menu__toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    color: var(--contacts-text-color);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline:none ;

    @media (min-width: 768px)  {
          display: none;
        }
  }
  
  .menu__toggle:hover,
  .menu__toggle:focus {
    background-color:var(--accent-color);
  }
    
  
 



  .mobile__menu {
    padding: 0;
    margin: 0;
    list-style: none;
  
    margin-bottom: auto;
  }

  .mobile__menu .link {
    display: block;
    padding: 10px;
    color: var(--contacts-text-color);
    text-decoration: none;
  }
  .mobile__social {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
  
 .mobile__social__item{

    position: relative;
  
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  
    color: var(--accent-color);
  
    &:not(:first-child)::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -10px;
      width: 1px;
      height: 22px;
      background-color: rgba(33, 33, 33, 0.2);
    }
 }

  
 
  
  

  
  .menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: transparent;
    color: var(--primary-text-color);
    border: none;
    margin-left: auto;
    cursor: pointer;
  
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  
  .mob-menu-list__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  
  .mob-menu-list__link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  
    color: var(--primary-text-color);
  
    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  
    &--current {
      color: var(--accent-color);
    }
  }
  
  .mob-menu-list__tell {
    display: block;
    margin-bottom: 32px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  
  .mob-menu-list__mail {
    display: block;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  
    margin-bottom: 64px;
  }
  

  
  .mob-menu-list__social-item {
    position: relative;
  
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  
    color: var(--accent-color);
  
    &:not(:first-child)::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -10px;
      width: 1px;
      height: 22px;
      background-color: #21212133;
    }
  }
  
  .mob-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }