.nav__list{
    list-style: none;
    display: flex;
    margin-left: 93px;
    display: flex;
    @media screen and (max-width: 767px) {
    display: none;
  }
  }
    
   .nav__item:not(:last-child) {
    margin-right: 50px;
  }
  
   .nav__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
   
  
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus
   {
     color: var(--accent-color);
     
   }
   &--current.link::after {
    content: '';
    position: absolute; 
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    display: block;
  }
  }
  
   
