:root {
    --primary-text-color: #212121;
    --secondary-text-color:#757575;
    --contacts-text-color: #FFFFFF;
    --secondary-contacts-color: rgba(255, 255, 255, 0.6);
    --primary-background-color : #F5F5F5;
    --accent-color: #2196F3;
    --secondary-background-color:#2F303A;
    --secondary-accent-color: #000000;
    --accent-color-bkground:  #F5F4FA;
  
    --anim-fast: 300ms ease-in-out;
    --anim-slow: 800ms ease;
    
  }
